@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");

/* body */
body {
  display: flex;
  flex-direction: column;
}
/* nav */
nav {
  width: 15vw;
  height: 88vh;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: black;
}
nav > #spotify-logo {
  width: 130px;
  height: 40px;
}

#div-1 {
  margin-bottom: 30px;
}
#div-1a {
  height: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #282828;
}

#home-img {
  width: 24px;
  height: 24px;
}
#home-p {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}
#div-1b {
  height: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#search-img {
  width: 24px;
  height: 24px;
}
#search-p {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin-top: 14px;
}
#div-1c {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 40px;
}
#library-img {
  width: 24px;
  height: 24px;
  color: #b3b3b3;
  margin-left: 18px;
  margin-right: 18px;
}
#library-p {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin-top: 13px;
}
#div-2 {
  margin-bottom: 30px;
}
#div-2-p {
  color: #b3b3b3;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: 18px;
}
#div-2a {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 40px;
  margin-bottom: 10px;
}
#create-playlist-img {
  width: 32px;
  height: 32px;
  background-image: url(./assets/create-playlist-bg-sp.svg);
  margin-left: 18px;
  margin-right: 18px;
}
#create-playlist-p {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin-top: 15px;
}
#div-2b {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#liked-songs-img {
  width: 32px;
  height: 32px;
  background-image: url(./assets/like-bg-sp.svg);
  margin-left: 18px;
  margin-right: 18px;
}
#liked-songs {
  color: #fff;
  font-family: Circular Std;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
#bottom-img {
  width: 15vw;
  /*if  height: 100px; why is it not taking width as 15vw ?*/
  margin-top: 100px;
}
#hero-container {
  display: flex;
  flex-direction: column;
  /* height: 88vh; */
}
/* hero */
#hero {
  display: flex;
  flex-wrap: wrap;
  background-image: url(./assets/hero-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 34.31vh;
}
#hero-img {
  width: 300px;
  height: 300px;
  margin-left: 10px;
  margin-top: 50px;
}
#hero-text {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}
#hero-text-1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
#hero-text-2 {
  display: flex;
  justify-content: start;
  align-items: center;
}
#p-1 {
  color: #fff;
  font-family: Circular Std;
  font-size: 13px;
  font-weight: 500;
  margin-top: 38px;
  margin-bottom: 0px;
}
#p-2 {
  color: #fff;
  font-family: Circular Std;
  font-size: 90px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0px;
}
#p-3 {
  color: #fff;
  font-family: Circular Std;
  font-size: 14px;
  font-weight: 400;
  line-height: 146.9%;
  margin-top: 0px;
  margin-bottom: 10px;
}
#p-1a {
  color: #fff;
  font-family: Circular Std;
  font-size: 15px;
  font-weight: 700;
  line-height: 146.9%;
  margin-right: 5px;
}
.dot-img {
  width: 6px;
  height: 6px;
  fill: #fff;
  opacity: 0.7;
  margin-bottom: 12px;
  margin-inline: 5px;
}
.p-2a {
  color: #fff;
  font-family: Circular Std;
  font-size: 15px;
  font-weight: 400;
}
#upper {
  display: flex;
  flex-direction: column;
}
#hero-bottom {
  height: 15vh;
  background-image: linear-gradient(#455451, black);
  display: flex;
  flex-direction: column;
}
#play {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 40px;
}
#play-img {
  width: 55px;
  height: 55px;
  margin-inline: 40px;
}
#play-heart {
  width: 46px;
  height: 46px;
  margin-right: 20px;
}
#play-three-dots {
  width: 46px;
  height: 46px;
}
#tittle {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 30px;
}
#tittle-p1 {
  width: 33.3px;
  height: 15.514px;
  color: #fff;
  font-family: Circular Std;
  font-size: 12px;
  font-weight: 400;
  margin-top: 12px;
  margin-left: 5px;
}
#tittle-p2 {
  width: 42.3px;
  height: 15.514px;
  color: #fff;
  font-family: Circular Std;
  font-size: 12px;
  font-weight: 400;
  margin-top: 12px;
  margin-left: 680px;
}
#tittle-p3 {
  width: 78.3px;
  height: 15.514px;
  color: #fff;
  font-family: Circular Std;
  font-size: 12px;
  font-weight: 400;
  margin-top: 12px;
  margin-left: 500px;
}
/* grid-section */
#grid-section {
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#grid-section-1 {
  display: flex;
  background-color: #252727;
  margin-left: 20px;
  height: 54px;
  width: 91%;
}
#gridplay {
  margin-left: 35px;
  margin-right: 10px;
}
#grid-1-p {
  color: #fff;
  font-family: Circular Std;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.188px;
}
#grid-1p1 {
  width: 200px;
  color: #fff;
  font-family: Circular Std;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.188px;
}
#grid-1p2 {
  width: 100px;
  color: #fff;
  font-family: Circular Std;
  font-size: 14px;
  font-weight: 400;
}
#grid-p {
  color: #fff;
  font-family: Circular Std;
  font-size: 14px;
  font-weight: 400;
  width: 400px;
  margin-top: 20px;
  margin-left: 300px;
  margin-right: 240px;
}
#four-img {
  width: 15px;
  height: 15px;
  margin-top: 20px;
}
#grid-chinese-img {
  width: 30px;
  height: 30px;
  margin-top: 12px;
  margin-right: 345px;
}
#heart-grid {
  margin-right: 10px;
}
#time-grid {
  margin-right: 7px;
}
#grid-section-2 {
  display: flex;
  width: 83vw;
  height: 54px;
  background-color: black;
  margin-left: 20px;
}

#grid-section-2-p {
  color: #fff;
  text-align: center;
  font-family: Circular Std;
  font-size: 17px;
  font-weight: 400;
  line-height: 18.188px; /* 106.986% */
  width: 8.013px;
  margin-left: 35px;
  margin-top: 20px;
  margin-right: 10px;
}
#grid-img-2 {
  width: 35.615px;
  height: 40px;
  margin-top: 8px;
  margin-right: 20px;
}
#grid-2-p-a {
  display: flex;
  flex-direction: column;
}
#grid-2-p1 {
  color: #fff;
  font-family: Circular Std;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.188px;
  margin-right: 473px;
  margin-top: 8px;
  margin-bottom: 4px;
}
#grid-2-p2 {
  color: #fff;
  font-family: Circular Std;
  font-size: 14px;
  font-weight: 400;
}
#grid-2p-b {
  color: #fff;
  font-family: Circular Std;
  font-size: 14px;
  font-weight: 400;
  margin-top: 18px;
  margin-right: 404px;
}
#grid-2-four-p {
  color: #fff;
  font-family: Circular Std;
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;
}
#grid-2-chinese-p {
  color: #fff;
  font-family: Noto Sans CJK KR;
  font-size: 14px;
  font-weight: 400;
  margin-top: 19px;
  margin-right: 380px;
}
#grid-2-time {
  color: #fff;
  font-family: Circular Std;
  font-size: 15px;
  font-weight: 400;
  margin-top: 15px;
  margin-right: 10px;
}

/* footer */
/* why footer width is less than other elements */
footer {
  display: flex;
  background-color: #252727;
  height: 120px;
}
#footer-p {
  display: flex;
  flex-direction: column;
}
#task-2-footer-img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
#footer-p {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
#footer-p-1 {
  color: #fff;
  font-family: Circular Std;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.188px;
  margin-top: 40px;
  margin-bottom: 4px;
  margin-left: 4px;
}
#footer-p-2 {
  color: #808080;
  font-family: Circular Std;
  line-height: 18.188px;
}
#footer-heart {
  margin-right: 10px;
}
#footer-play {
  margin-left: 450px;
  margin-right: 450px;
}
#footer-play-upper {
  margin-top: 35px;
  margin-left: 230px;
}
#footer-vol {
  display: flex;
  align-items: center;
}
#shuffle {
  margin-right: 20px;
}
#back-btn {
  margin-right: 20px;
}
#play-btn {
  margin-right: 20px;
}
#next-btn {
  margin-right: 20px;
}
#footer-time1 {
  color: #b3b3b3;
  font-family: Circular Std;
  font-size: 12.504px;
  font-weight: 400;
  margin-top: 18px;
  margin-right: 10px;
}
#footer-time2 {
  color: #b3b3b3;
  text-align: center;
  font-family: Circular Std;
  font-size: 12.504px;
  font-weight: 400;
  margin-top: 18px;
  margin-left: 10px;
}
